.listSection {
  width: 100%;
  overflow-x: scroll;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.listSection ul {
  list-style: none;
  display: flex;
  padding: 20px;
}

.listSection li {
  padding: 7px;
  height: 55px;
  width: 230px;
}

.item {
  display: flex;
  align-items: center;
}

.item li {
  display: flex;
  align-items: center;
}

.item:nth-child(2n-1) {
  display: flex;
  background-color: #f6f6f6;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories {
  display: flex;
}
